.o-wrapper1 {
	padding: 20px 0px;
	text-align: center;
}

.wrapper1 .o-wrapper1 {
	flex-direction: column;
}

.intro {
	order: 1;
}

.title1 {
	font-size: 26px;
}

.title1 > span {
	font-size: 40px;
}

.book img {
	max-width: 200px;
}

.wrapper2 .o-wrapper1 > p {
	font-size: 18px;
}

.section-title {
	font-size: 32px;
}